html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    color: #9b9b9b;
    background-color: #10DE93;
    background: linear-gradient(290deg, #54DBA2, #83f0b4, #01B674, #A1D99B);
    background-size: 240% 240%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

.dividers {
    display: flex;

}

.divider {
    height: 100vh;
}

.small-divider {
    flex: 0 0 25%;
    display: flex;
    justify-content: flex-end;
    align-items: ;
    padding: 20px; 
    box-sizing: border-box; 
}

.small-content-box {
    height: 85%; 
    width: 100%; 
    background-color: #cdffca;
    align-items: center;
    align-self: flex-end;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; 
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25), 
    0 2px 6px rgba(0, 0, 0, 0.15);
}
  
.large-divider {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

}

ProgressBar {
    width: 60%;
}

/* .large-content-box {
    height: 60%; 
    width: 100%; 
    background-color: #cdffca;
    align-items: center;
    align-self: flex-end;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25), 
                0 2px 6px rgba(0, 0, 0, 0.15);
} */

.top-right-text {
    position: absolute;
    top: 0;
    left: 30px; /* Align to the top-right corner */
    height: 15vh; /* Set the height */
    width: 225px; /* Let the width adjust automatically */
    background-image: url("./assets/logo.png");
    background-size: contain; /* Maintain aspect ratio */
    background-repeat: no-repeat; /* Avoid repeating the image */
    background-position: center; /* Center the image within the div */
    z-index: 10; /* Ensure it appears above other elements */
}

.small-input-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box; 
    text-align: left;
    border-radius: 15px;
    background-color: #cdffca;
    border: 0px;
    color: #9b9b9b;
    outline: none;
}
